<nav class="navbar navbar-expand-md bg-primary mb-4 navbar-dark">
  <div class="container">
    <a href="" class="navbar-brand">ClientPanel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav mlr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
  </div>
</nav>