<nav class="navbar navbar-expand-md bg-primary mb-4 navbar-dark">
  <div class="container">
    <a [routerLink]="['/']" class="navbar-brand">ClientPanel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav mlr-auto">
        <li *ngIf="!isLoggedIn && allowRegistration" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="!isLoggedIn && allowRegistration " class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/']">{{loggedInUser}}</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']">Settings</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" (click)="onLogoutClick()" [routerLink]="[ '/login' ]" >Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>